.static-width{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: lightgray;
  background-image: url(https://www.pngkit.com/png/full/0-8949_batman-logo-png-transparent-batman-medley-sticker-pack.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}