.box{
  padding: 5%;
  margin: 5%;
  float: left;
}

.dashed{
  border: 24px dashed blue;
}

.dotted{
  border: 24px dotted blue;
}

.double{
  border: 24px double blue;
}

.groove{
  border: 24px groove blue;
}

.inset{
  border: 24px inset blue;
}

.outset{
  border: 24px outset blue;
}

.ridge{
  border: 24px ridge blue;
}

.solid{
  border: 24px solid blue;
}